@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LeaveManagementSystem.Models.Department
@{
    ViewData["Title"] = "Delete";
}
@{
    <form method="post" asp-action="Delete">
        
        <label> You want to delete???</label>
        <button type="submit" class="btn btn-danger">Delete</button>
        <button asp-action="Index" class="btn btn-primary">cancel</button>
        
    </form>
}
