@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To leave managment System</h1>
    <p></a> Guys wanna leave ????
        </p>

        <h3> Apply Now</h3>
</div>
